@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.body-index {
  font-family: "PT Sans", sans-serif;
}
.body-photo {
  font-family: "PT Sans", sans-serif;
}
.blue-btn {
  padding: 16px 10px;
  background-color: #81b3d2;
  border: none;
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.blue-btn:hover {
  background-color: #669ec0;
}
.blue-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.blue-btn_disabled {
  background-color: #e5e5e5;
}
.container {
  width: 100%;
  margin: 0 auto;
  outline: 1px dashed red;
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.main-nav {
  min-height: 56px;
  background-color: #ffffff;
  display: flex;
}
.main-nav__logo {
  display: block;
  position: relative;
  margin: 0 auto;
  min-height: inherit;
  width: 102px;
  flex-grow: 1;
}
.main-nav__logo img {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -51px;
}
.main-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .main-nav {
    flex-direction: column;
  }
  .main-nav__list {
    position: absolute;
    z-index: 5;
    width: 100%;
    flex-direction: column;
  }
  .main-nav_closed .main-nav__list {
    display: none;
  }
  .main-nav_opened .main-nav__list {
    display: flex;
    animation: slidedown 1s;
  }
  @keyframes slidedown {
    0% {
      transform: translateY(-230px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .main-nav__list_left {
    order: -2;
  }
  .main-nav__list_right {
    top: 112px;
    order: -1;
  }
  .main-nav__item a {
    display: block;
    padding: 7px 0px;
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }
  .main-nav__item a:hover {
    background-color: #669ec0;
  }
  .main-nav__item a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav__toggle {
    position: absolute;
    z-index: 6;
    right: 20px;
    top: 17px;
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
  }
  .main-nav__toggle:focus {
    outline: none;
  }
  .main-nav_closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2,
                  0 18px 0 0 #81b3d2;
  }
  .main-nav_closed .main-nav__toggle:hover::before {
    background-color: #669ec0;
    box-shadow: 0 9px 0 0 #669ec0,
                  0 18px 0 0 #669ec0;
  }
  .main-nav_closed .main-nav__toggle:active::before {
    background-color: #5496bd;
    box-shadow: 0 9px 0 0 #5496bd,
                  0 18px 0 0 #5496bd;
  }
  .main-nav_opened .main-nav__toggle::before,
  .main-nav_opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
  }
  .main-nav_opened .main-nav__toggle::before {
    transform: rotate(45deg);
  }
  .main-nav_opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav_opened .main-nav__toggle:hover::before,
  .main-nav_opened .main-nav__toggle:hover::after {
    background-color: #c6d9e6;
  }
  .main-nav_opened .main-nav__toggle:active::before,
  .main-nav_opened .main-nav__toggle:active::after {
    background-color: #94b9d2;
  }
  .main-nav_nojs .main-nav__list {
    display: flex;
    position: static;
  }
  .main-nav_nojs .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    align-items: center;
    justify-content: space-around;
    flex-basis: 300px;
    flex-grow: 1;
  }
  .main-nav__item a {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo img {
    margin-left: -94px;
  }
}
.page-header {
  position: relative;
}
.page-header__intro {
  position: relative;
  padding: 86px 20px 60px 20px;
  background-image: url(../img/header-bg_desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-header__img {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-header__intro {
    padding: 77px 60px 90px 60px;
  }
}
.promo-text {
  padding: 40px 20px;
}
.promo-text__first-paragraph {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.promo-text__second-paragraph {
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
@media (min-width: 768px) {
  .promo-text {
    padding: 40px 120px;
  }
}
@media (min-width: 1280px) {
  .promo-text {
    padding: 40px 340px;
  }
}
.reason {
  padding: 40px 20px;
  min-height: 193px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reason_blue {
  background-color: #81b3d2;
  color: #ffffff;
}
.reason_grey {
  background-color: #eeeeee;
  color: #000000;
}
.reason__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.reason__count {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.reason__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .reason {
    padding-left: 45px;
    padding-right: 45px;
  }
  .reason__title {
    font-size: 21px;
  }
}
.promo-picture {
  display: flex;
  flex-direction: column;
}
.promo-picture__picture {
  overflow: hidden;
}
.promo-picture__picture img {
  display: block;
  object-position: center;
}
@media (min-width: 768px) {
  .promo-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .promo-picture__reason {
    width: 33.333333%;
  }
  .promo-picture__picture {
    width: 66.666666%;
  }
  .promo-picture-2 .promo-picture__picture {
    order: -1;
  }
}
.features {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
.feature {
  position: relative;
  padding-left: 18%;
  margin-bottom: 30px;
}
.feature::before {
  content: "";
  position: absolute;
  left: -4px;
  top: -12px;
  width: 45px;
  height: 45px;
  background: url("../img/feature-sprite.png") no-repeat;
}
.feature:nth-child(1)::before {
  background-position: 4px 5px;
}
.feature:nth-child(2)::before {
  background-position: 4px -51px;
}
.feature:nth-child(3)::before {
  background-position: 4px -105px;
}
.feature:last-child {
  margin-bottom: 0;
}
.feature__title {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.feature__description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .features {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
  .feature {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 130px;
    text-align: center;
  }
  .feature::before {
    left: 50%;
    margin-left: -22.5px;
    top: 40px;
    transform: scale(2);
  }
  .feature:nth-child(1) {
    order: -2;
  }
  .feature:nth-child(3) {
    order: -1;
  }
}
.reasons {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #eeeeee;
}
.reasons .reason {
  border-bottom: 1px solid #d6d6d6;
}
.reasons .reason:last-child {
  border-bottom: none;
}
.reasons .reason br {
  display: none;
}
@media (min-width: 768px) {
  .reasons {
    flex-direction: row;
    min-height: 255px;
    padding: 0;
  }
  .reasons .reason {
    border-bottom: none;
  }
  .reasons .reason br {
    display: inline;
  }
}
.hotel-search {
  padding: 30px 20px 50px;
  text-align: center;
}
.hotel-search__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.hotel-search__info {
  margin-top: 22px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.hotel-search__btn {
  width: 100%;
}
@media (min-width: 768px) {
  .hotel-search__slogan,
  .hotel-search__info,
  .hotel-search__btn {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
.map {
  width: 100%;
  height: 350px;
}
#map {
  width: 100%;
  height: 350px;
}
.page-footer {
  min-height: 243px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.social {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.social-btn {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-image: url("../img/social-sparite.png");
  background-repeat: no-repeat;
  font-size: 0;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
}
.social-btn_tw {
  background-position: 14px 13px;
}
.social-btn_tw:active {
  background-position: 14px -43px;
}
.social-btn_fb {
  background-position: -39px 13px;
}
.social-btn_fb:active {
  background-position: -39px -43px;
}
.social-btn_yt {
  background-position: -91px 13px;
}
.social-btn_yt:active {
  background-position: -91px -43px;
}
.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .page-footer {
    min-height: 120px;
    flex-direction: row;
  }
}
.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}
.photo:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.photo__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.photo__photo {
  margin: 0 auto;
  display: inline-block;
}
.photo__info {
  padding-top: 20px;
}
.photo__title {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.photo__like-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
  fill: #b2b2b2;
}
.photo__like-btn:hover {
  fill: #7f7f7f;
}
.photo__like-btn:active {
  fill: #4c4c4c;
}
.photo__like-btn:focus {
  outline: none;
}
@media (min-width: 768px) {
  .photos {
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .photo_main {
    margin: 0 auto;
    width: 100%;
  }
  .photo__info {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1280px) {
  .photos {
    padding-left: 0;
    padding-right: 0;
  }
  .photo {
    position: relative;
    width: 33.333333%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .photo_main {
    width: 100%;
  }
  .photo__info {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .photo__author {
    color: #ffffff;
  }
  .photo__like-btn {
    fill: #ffffff;
  }
  .photo__like-btn:hover {
    fill: #cccccc;
  }
  .photo__like-btn:active {
    fill: #999999;
  }
}
.video {
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
}
.video__slogan {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.video__info {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.video__video {
  width: 100%;
  min-height: 200px;
  background-image: url("../img/video-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.video__controls {
  position: relative;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -47px;
  display: flex;
  flex-wrap: wrap;
}
.video__slidebar {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.video__slidebar-track {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__slidebar-dot {
  position: absolute;
  left: 0;
  top: -3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}
.video__inner-wrapper {
  height: 66px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}
.video__inner-wrapper svg {
  fill: #5c6870;
}
.video__inner-wrapper svg:hover {
  fill: #333333;
}
.video__inner-wrapper svg:active {
  fill: #c1c1c1;
}
.icon-video-subtitles {
  margin-left: auto;
}
.icon-video-fullscreen {
  margin-left: 31px;
}
@media (min-width: 768px) {
  .video__info {
    padding-left: 110px;
    padding-right: 110px;
  }
  .video {
    padding-left: 60px;
    padding-right: 60px;
  }
  .video__slidebar {
    position: absolute;
    left: 80px;
    right: 160px;
    top: 13px;
    width: auto;
    background-color: transparent;
  }
  .video__controls {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-top: -66px;
  }
  .video__inner-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .video__inner-wrapper svg {
    fill: #ffffff;
  }
  .video__inner-wrapper svg:hover {
    fill: #333333;
  }
  .video__inner-wrapper svg:active {
    fill: #c1c1c1;
  }
}
@media (min-width: 1280px) {
  .video__info {
    padding-left: 350px;
    padding-right: 350px;
  }
  .video__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}
